canvas {
  background: #eee;
  display: block;
  margin: 50px;
  border: 2px solid black;
}

body {
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  z-index: 2;
}

nav ol {
  height: 200px;
  width: 100px;
}
nav ol {
  overflow: hidden;
  overflow-y: scroll;
}
