canvas {
  background: #eee;
  display: block;
  margin: auto;
  border: 2px solid black;
}

body {
  text-align: center;
  user-select: none;
}

#myCanvas {
  z-index: 2;
}

#bodydiv {
  width: 100%;
}

#canvasdiv {
  width: 640px;
  height: 640px;
  float: left;
}
